{% extends "layout.njk" %}
{% block content %}
  <main class="logo">
    <nav>
      <img src="/img/logo_pasta.jpg" alt="">
    </nav>
    <header>
    <h1>
      Pasta Meny 
    
    
  </h1>
  </main>
</header>
<main class="wrapper" >
  
</main>
  <main class="container">
  
   
   <img src="/img/pasta_zafferano.jpg" alt="zafferano">
   <img src="/img/Steamy pasta.jpg" alt="Steamy">
  <p>
    Hej
  </p>
  
    
  
</main>
{% endblock %}