{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <h1>
    Rubrik
  </h1>
  <p>
    Hej
  </p>
  <img src="/pasta_zafferano.jpg" alt="pasta_zafferano">
    
  
</main>
{% endblock %}