{% extends "layout.njk" %}
{% block content %}
<main class="wrapper">
    <h1>Lägg till en pasta</h1>
    <form action="/pastas/new" method="post">
        <label for="namn">namn</label>
        <input type="text" id="namn" name="namn" required>
        <textarea name="form" id="form" cols="30" rows="10"></textarea>
        <input type="submit" value="skapa ny pasta">
        <select name="sauce" id="sauce">
            {% for sauce in sauces %}
              <option value="{{ sauce.id }}">{{ sauce.colour }}</option>
            {% endfor %}
          </select>

    </form>
</main>
{% endblock %}